// Custom

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap");

$font-family-sans-serif: "Inter", "SF Pro Text", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;
$headings-font-family:
  "Roboto Flex",
  "Roboto",
  -apple-system,
  BlinkMacSystemFont,
  "Helvetica Neue",
  "Arial",
  sans-serif;

$font-size-base: 0.85rem;
